/* FICHIER KEYFRAMES */
/* FICHIER KEYFRAMES */
/* FICHIER KEYFRAMES */

@keyframes fillup {
  from {fill #fff;}
  to {fill  #005ce6;}
}

@keyframes slidein {
  from { margin-top: 0;  }
  to { margin-top: 43%;}
}

@keyframes dash {
  to {  stroke-dashoffset: 0;}
}

@keyframes opacity {
to {
  fill: #005ce6;
  opacity: 1;
}
}
  
