*{
  margin: 0px;
  padding:0px;
}

/* LOADING FRAME */
/* LOADING FRAME */
/* LOADING FRAME */
body{  background-color: ;
  overscroll-behavior: none;}
html,body{
overscroll-behavior: none;
width:100%;
margin: 0px;
padding: 0px;
height:100%;

}
#section-blackbar-mobile{
  display:none!important;
}
.button_promo{
height: 350px;
width: 100%;
background: url("../images/ressource_site/collection2.png");
background-position: center;
border:none;
outline:none;
}
.button_promo:focus{
    outline: none;
}
.main-section{
  min-width: 100%;
  min-height: 100%;
  position: fixed;

}
.wrapper-animation{
  background-color: ;
  width: 23em;
  height: 32em;
  margin: 0px auto;
  position: relative;
  z-index: 9999;


}

.droplet-animation{
  background-color: ;
  margin: auto auto;
width: 20vw;
height: 80px;
position: absolute;
left: 40vw;
top: 4%;
z-index: 9999;

}

.tshirt-animation{
  background-color: ;
  margin: auto auto;
    width: 50vw;
    height: 200px;
    margin-left: 25vw;
    margin-top: 70%;
    position: absolute;

}

/* ANIMATION DIV/SVG */
/* ANIMATION DIV/SVG */
/* ANIMATION DIV/SVG */

.droplet-animation {
  animation: slidein 1.5s cubic-bezier(.7,1.98,.63,.55) forwards;
  animation-delay: 2s fowards;
}

#droplet-stroke {
  stroke-dasharray:2334.08837890625;
  stroke-dashoffset: 2334.08837890625;
  animation: dash 3s cubic-bezier(.45,1.16,.73,.93) forwards;
}

#tshirt-stroke {
  stroke-dasharray:5646.87109375;
  stroke-dashoffset: 5646.87109375;
  animation: dash 3s cubic-bezier(.45,1.16,.73,.93) forwards;
}

#tshirt-fill{
  animation: opacity 0.1s linear both;
  animation-delay: 0.9s;
}




/** NAVBAR **/
/** NAVBAR **/
/** NAVBAR **/

#main_navbar{
  background-color: /*black!important;*/ rgb(40, 40, 40)!important;
  opacity: 0.85;
  padding: 0px;
  margin: 0px;
  z-index: 1;
  height: 65px;


}

header .navbar-brand {
  color: white;
  font-size: 24px;
  padding: 0px;
  margin-right:0px;
}
#brand-name-pdf{
  width: 240px;
  height: 42px;
  background-image: url(../images/brandnamepng2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar-navs{
  border-top:solid 1px rgb(212, 212, 212);
  margin-bottom: -60px;
}

.nav-item:first-childs{
  margin-left: 0px;
}

header .nav-item{
  margin-left: 0px;
  color: white;
  font-size: 15px;
  padding-bottom: 0px;

}
header .nav-links{
  padding-bottom: 2px;
  padding-top: 0px;
}
#navbarNav .nav-link{

  font-size: 1.3em;
}


header .navbar-dark .navbar-toggler {
  margin-right: 15px;

  border-color: white;
  border: solid 2px;
}
#main-navbar-toggler-icon{
  font-size:20px;
}



/*BODY*/
/*BODY*/
/*BODY*/


section #section-first-div{
  background-color: black;
  height: 250px;
  width: 100%;
  background-image: url("../images/background_MP1_1.jpg");
  background-size: 100%;
  margin-top:62px;
  background-image: ;
  background-position: bottom ;
  background-repeat: no-repeat;
}
@media only screen and (max-width : 500px){
  section #section-first-div{
    height: 100px!important;
    background-size: 350%;
    background-position: 12% 86%;
    box-shadow: rgb(203, 203, 203) 0px 3px 10px;
  }
  #section_entete{
    padding-top:2px!important;
  }
  #section-blackbar-mobile{
    margin-top:25px!important;
        margin-bottom: 25px!important;
  }

  .navbar-collapse{
        background: rgb(40, 40, 40);
  }
  .photo_demo{
    margin:0px!important;
    padding:0px!important;
  }
  .photo_demo .container{
    margin:0px!important;
    padding:0px!important;

  }
  .photo_demo .teeshirtphotodemo{
  box-shadow: rgba(40, 40, 40,0.5) 0px 2px 3px;
}
.teeshirtphotodemo{
      padding-top: 40px!important;
}
      @media only screen and (max-height : 600px){
        .photo_demo{
              height: 330px;
        }

      }
}
#label_row{
  margin-top:15px;
  display: flex;
   justify-content: space-between!important;
}
.label_img{
  width:25%;
  height: 110px;

}
.labelround{
  height: 70px!important;
  width:70px!important;
}
#main-wrapper{
  display: flex;
  flex-direction: row;
  margin: auto auto;
  background-color:
}
.row {
  margin: 0px;
  padding: 0px;
}

#section-blackbar-div{
  background-color: rgb(40, 40, 40)!important;
  width: 100%;
/*  box-shadow: 0px 2px 100px 5px rgba(0,0,0,0.20);*/
}
#section-blackbar-filliere-div{
  background-color: rgb(70, 70, 70)!important;
    margin-top: 20px;
  width: 100%;
/*  box-shadow: 0px 2px 100px 5px rgba(0,0,0,0.20);*/
}
#section-blackbar-filliere-mob{
  background-color: rgb(70, 70, 70)!important;
  margin-top: 20px;
  width: 100%;
/*  box-shadow: 0px 2px 100px 5px rgba(0,0,0,0.20);*/
}


#section-blackbar-div h1{
  color: white;
  margin: auto auto;
  font-size: 40px;
  opacity: 0.9;
  text-align: center;
  text-align: center;

}
#section-blackbar-filliere-div h1{
  color: white;
  margin: auto auto;
  font-size: 40px;
  opacity: 0.9;
  text-align: center;
  text-align: center;

}
#section-blackbar-filliere-mob h1{
  color: white;
  margin: auto auto;
  font-size: 40px;
  opacity: 0.9;
  text-align: center;
  text-align: center;

}

.cardtype{
  margin: 0px;
  padding: 25px;
}
.card-border{
  border:solid 2px rgb(40, 40, 40);
  border-radius: 5px;
}
.article-border{
  border:Opx;
}
.card-footer{
  background-color: rgb(40, 40, 40);
  color: white;
  padding: 0px!important;
  height: auto;
}
.card-header{
  font-size: 10px;
  text-align: center;
  background-color: rgb(40, 40, 40);
  border-radius: 5px;
  color: white;
}
.card-header h3{
    font-size: 23px;
}
.article-border{
  margin-top: 25px;
  border:0px;
}
#ligne-article{
  border-bottom: solid 2px rgba(40, 40, 40,0.5);
}
#teeshirtdemo{
max-height:350px ;

}

.card-title{
  margin: 0px;

}
.card-footer{
  padding: 10px;
}
#teeshirtdemo_detail{
  margin-top: 10%;
}

.new_col2{
  padding:2px;
  background-position:center;
  background-size: 100%;
}
#promo350{
  height:350px!important;
}


/* ANIMATION */
/* PreLoader */



#preloader{
     width: 100%;
     height: 100%;
     margin: auto auto;
     border: 0px;
     background-color: rgba(40, 40, 40,5);
     position: fixed;
     top:0px;
     z-index: 9999;
     }
#loading-icon {
    width: 25%;
    height: 55%;
    top: 25%;
    margin: auto auto;
    vertical-align: middle;
    background-color: ;

     }

.wrapper-pagination{
  height: 1px;
  background-color: ;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.pagination-bootstrap{
  width: auto;
  margin-left: ;
  display:none;

text-align: center;
}

.pagination {
   margin-left: -50%;
}
.pagination  .page-item a
{
  font-size: 1em;
  color: white;
  border: solid 2px ;
  background-color: rgba(40, 40, 40,1);

}
.pagination  .page-item a:hover
{
border: solid 5px #005ce6;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */


#footer-wrapper{
 width: 100%;
 height:10.5em;
 background-color: rgba(40, 40, 40,5);
 -webkit-box-shadow: inset 9px 113px 73px -112px rgba(255,255,255,0.5);
 -moz-box-shadow: inset 9px 113px 73px -112px rgba(255,255,255,0.5);
 box-shadow: inset 9px 113px 73px -112px rgba(255,255,255,0.5);
 border-top: solid 1px rgba(40, 40, 40,5);
 color: white;
 position: relative;
 padding: 0px;
 margin: 0px;

}
.blanker-footer{
  background-color: ;
  height: 100%;
}

.footer-teeshirt-svg{
  margin-top: -30px;
  width: 175px;
  margin-left: auto;
  margin-right: auto;
  border:;
  z-index: 999;
}
.wrapper-footer-text{
  position: absolute;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.footer-teeshirt-left{
  height: 100%;
  margin: 0px;
  padding: 0px;
  width:100%;
  background-color: rgba(40, 40, 40,5) ;
}
.footer-teeshirt-right{
  height: 100%;
  margin: 0px;
  padding: 0px;
    width:100%;
  background-color: rgba(40, 40, 40,5) ;
}
.footer-floater-left{
  height: ;
  width:80%;
  background-color:rgba(40, 40, 40,5) ;
}
.footer-floater-right{
  height: 100%;
  width: 100%;
  background-color: ;
}

.demi-footer-l{
  width: 100%;
}
.demi-footer-r{

}

.fab {
  padding: 12px;
  font-size: 35px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 15px 3px 10px 3px;
}

.fab:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


.fa-instagram {
  background: rgba(255, 43, 95,1);
  color: white;
}


.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.footer-l-text{
  max-width: 30%;
  font-size: 79%;
  text-align: justify;
  color: white;
  padding: 0px 5px 5px 5px;
  padding-left: 5px;
  font-family: 'Handlee', cursive;
  height: 65px;
  margin-left: 0px;
  letter-spacing: 1px;
  font-weight: 100;
  margin-top: 5px;
  position: absolute;
  right: 20px;
bottom:150px;
  padding-top: 5px;
}
#wrapper-socialmedia
{

}
.footer-l-fleche{
  height: 70px;
  width: 14%;
  margin-top: 5px;
  margin-left: 5px;
  background-image: url("../images/fleche_craie.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.breaker-demi-footer{
  border: solid 1px rgba(201, 201, 201,0.5);
}

#list-coordonnees1 {
  margin: auto auto;
  list-style-type: none;
  font-size: 12px;
  color: rgba(201, 201, 201,0.7);
}
#list-coordonnees2 {
  margin: auto auto;
  list-style-type: none;
  font-size: 12px;
  color: rgba(201, 201, 201,0.7);
}
.footer-coordonnees1{
  text-align: center;
  height: 60px;
  width: 100%;
  background-color: ;
  margin-top: 5px;
}
.footer-coordonnees2{
  text-align: center;
  height: 60px;
  width: 100%;
  background-color: ;
  margin-top: 5px;
}
.footer-coordonnees2{
  height: 60px;
  width: 100%;
  background-color: ;
}

.demi-footer-r
{
  margin-top: 20px;
float: right;
}
.breaker-demi-footer{
  margin-top: 15px;
}
.last-tshirt{
  margin-bottom: 30px;
}
.image-{
  height: 27em;
  width: 100%;
}

#article-presentation{
  font-size: 1.0em;
  text-align:justify;
  line-height: 22px;
}
#ligne-article{
  justify-content: center;
}
#ligne-article p{
margin-bottom: 15px;

}
#article-t4{
font-family: Courgette;
font-size: 22px;
text-align: justify;
font-style: bold;
}
.article-t4-justify
{
  font-size: 20px;
  text-align: justify;
  margin-top: 10px;
  padding-top: 10px;
  border-top: solid rgba(40, 40, 40,0.5) 2px;
}

.btn_purchase{
  font-size: 1.2em;
  font-family: 'Courgette';
  border : 0px;
}
.price_label{
  position: absolute;
  background-color: ;
  font-family: 'Courgette';
  top: 20%;
  left: 2%;
  padding-right: 8px;
  border-right: 1px solid black;

}
.modal-body{
  padding:20px 15px 20px 15px;

}
.modal-footer{
  padding: 0px;
}
.input-group-text{
  background-color: #6294CC;
  color: white;
  font-family: 'Courgette';
  font-weight: 300;
  border: solid 1irtpx rgba(40, 40, 40,0.5);
}
.form-control{
  border: solid 1px rgba(40, 40, 40,0.5);
}
.lydiaFee{
  text-align: center;
  font-family: 'Open Sans';
  padding: 0px;
  background-color: #6294CC;
  color: white;
  font-size: 25px;
  padding: 10px 0px 10px 0px;
  border-top:white 1px solid;
}

@media (min-width : 992px)  {
  .footer-l-text{
    left:55%!important;
    bottom:10px;
    right:none;
    bottom:70px!important;
  }

@media only screen and (min-device-width : 500px) {
  #section-blackbar-mobile{
  display: none;
  }
  #section-blackbar-filliere-mob{
    display:none!important;
  }
}

@media only screen and (min-width : 992px) {
  .blanker-footer{
    display: none;
  }
  #section-first-div{
        margin-top: 50px!important;
  }
  .tshirt-animation {
    margin: auto auto;
    width: 280px;
    height: 200px;
    margin-top: 35vh;
    position: absolute;
}
.droplet-animation{
  width: 100px!important;
  height: 120px!important;
  position: absolute;
  left: 30%;
  top: 10%;

}
.wrapper-animation{
  width: 300px;
  height: 500px;
}


  .footer-floater-left{
    height: 100%;
    width:70%;
  background-color: ;
  float: left;
  margin: 0px;
  }
  .footer-floater-right{
    height: 100%;
    width: 70%;
    background-color: ;
    float: right;
    margin: 0px;
  }
  .demi-footer-l{
    margin-top: 10px;
  }
.footer-l-fleche{
  margin-left: 0px;
}
.footer-l-text{
  left: 55%;
}
#section-blackbar-mobile{
display: none;
}
#section-blackbar-filliere-mob{
  display:none!important;
}
#wrapper-socialmedia{
  margin-left: 50px;
}



}
@media only screen and (min-device-width : 992px) and (max-device-width: 1270px) {
  #article-presentation{
    font-size: 0.8em;
    text-align:justify;
    line-height: 15px;
  }
}
@media only screen and (min-device-width : 992px)  and (max-device-width : 1200px) {

}
@media only screen and (min-device-width : 480px)  and (max-device-width : 991px) {
    .footer-l-fleche {
    width: 10%;
    height: 50px;
    margin-left: 20px;
    }

    #text-socialmedia{
      margin-left: 25%;
      width: 80%;
    }
    .demi-footer-l{
    padding-left: 25%;
    }
}
@media only screen and (min-device-width : 650px){
    #modal_purchase_display_home_purchase{
      overflow-y: auto;
      margin: -50px!important;
    }
    #modal_purchase_display_asso_purchase{
      overflow-y: auto;
      margin: -50px!important;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

#feesLydia{
  font-size:15px;
}
.modal-center{
  padding-bottom:2px
}
#lydiaButtonAssoDelivred, #lydiaButtonHomeDelivred{
  height: auto;
}

#lydiaButtonHomeDelivred, #lydiaButtonHomeDelivred{
  height: auto;
}

  #payement_modal1{
    top: -10%;
    font-family: 'Courgette';
  }
.hidden_smartphone{
  display:none;
}
#teeshirtdemo{
max-height:330px ;

}
#teeshirtdemo_detail {
    margin-top: 60%;
}
  header .navbar-brand {
  margin-left: 10px;
  font-size: 2em;
  }
  #brand-name-pdf{
    width: 60%;
    height: 42px;
    background-image: url(../images/brandnamepng2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
margin-top: 20px;
  }
  #main-navbar-toggler-icon{
    font-size:15px;

  }


  #section-blackbar-div{
    display: none;

  }
  #section-blackbar-filliere-div{
    display:none!important;
  }
  header .navbar-dark .navbar-toggler {
    padding: 10px 10px;
    margin: 10px 15px 10px 0px;
  }
  .teeshirt_demo{
  padding-bottom:20px!important;

  }

  #text-socialmedia{
    margin-left: 85%;
    margin-top: -40%;
    width: 85%;
    z-index: 9999;
  }
  .pagination{
     margin-left: 10%;
     color: rgba(40, 40, 40,5);
     font-size: 1em;
  }
  .wrapper-pagination{
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .footer-l-fleche{
    margin-top: 30px;
  }
  .breaker-demi-footer{
    border: none;
    display: none;
  }
#list-coordonnees1{
  margin-top: -20px;
}
.footer-teeshirt-left
{
  height: auto;
}
.footer-teeshirt-right
{
  height: auto;
}
.footer-coordonnees1
{

  margin-bottom: -20px;
}
#article-presentation{
  height: 520px;
  margin-top: 0px;
  margin-bottom: -30px;
      order: -1;
        font-size: 1em;
}
#ligne-article p{

  margin-bottom: 5px;
  border: none;
}
#ligne-article{
  border: none;
}
.footer-coordonnees3{
  height: 6em;
}

#section-blackbar-mobile{
  background-color:rgba(40, 40, 40,0.9);
  margin: 0px;
  padding:5px 15px;
  color: white;
  padding-bottom:;
  z-index:4;
  margin-top: 10px;

}
#section-blackbar-filiere-mob{
  background-color:rgba(40, 40, 40,0.9);
  margin: 0px;
  padding:5px 15px;
  color: white;
  padding-bottom:;
  z-index:99;
  margin-top: 10px;

}
#section-blackbar-filiere-div{
  background-color:rgba(40, 40, 40,0.9);
  margin: 0px;
  padding:5px 15px;
  color: white;
  padding-bottom:;
  z-index:99;
  margin-top: 10px;

}
#section-blackbar-mobile h1{
font-size: 30px;
text-align: center;
justify-content: center;
margin: 0px;
  z-index:999;
}
#section-blackbar-filliere-mob h1{
font-size: 30px;
text-align: center;
justify-content: center;
margin: 0px;
  z-index:999;
}
#section-blackbar-filliere-div h1{
font-size: 30px;
text-align: center;
justify-content: center;
margin: 0px;
  z-index:999;
}
.last-tshirt{
  margin-bottom: 60px;
}

.nav-link{
  margin-left: 25px;
}
}




.footer-coordonnees3{
  display:none ;
}
.footer-coordonnees1 ul li{
  font-size:1.2em;
}
#main-wrapper{
  padding-bottom: 50px;
}
#payement_modal1{
  top: 10%;
  font-family: 'Courgette';
}
#purchase_info{
  background-color:;
  padding: 10px;
}
#purchase_detail{
  background-color: white;
  height: 50px;
  border-left: solid grey 2px;
}
#purchase_photo{
  background-color: ;
}
#lydia_delivered{
  background-color: ;
}
#lydia_grouped{
  background-color: ;
  padding: 0px;
}
.button_lydia{
  text-align: center;
  background-color: #6294CC;
}
.selector_product{
  font-family: 'Handlee', cursive;
}
.badge_valid_selector{
  display:none;
}
.selector_product{
  margin-right: 0px;
  padding-right: 0px;
}


.mandatory_field{
  color: red;
  visibility: hidden;
}
.input-group-text{
  border: solid 1px rgba(40, 40, 40,0.5);
}

@media only screen and (min-width : 800px) {
  .photo_demo{
    margin:0px!important;
    padding:0px!important;
  }
  .photo_demo .container{
    margin:0px!important;
    padding:0px!important;
    padding-top:100px;

  }
  .photo_demo .container .row{
    padding-top:70px;
  }
  .photo_demo .teeshirtphotodemo{
  border: 2px rgba(40, 40, 40,0.5) solid;
  box-shadow: rgba(40, 40, 40,0.5) 2px 2px 5px;

  }

}
#section-blackbar-filliere-mob .colorful{
  background:linear-gradient(to left bottom, #97c1ff, #60d7ff, #36e9fb, #61f7db, #a5ffb3);!important;
  -webkit-background-clip: text!important;
  -webkit-text-fill-color: transparent!important;
  font-size:3em!important;
  font-weight: 700;

}
#section-blackbar-mobile .colorful{
  background:linear-gradient(to left bottom, #97c1ff, #60d7ff, #36e9fb, #61f7db, #a5ffb3);!important;
  -webkit-background-clip: text!important;
  -webkit-text-fill-color: transparent!important;
  font-size:3em!important;
  font-weight: 700;

}
